* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

/* testata */

/* barra di navigazione */
header nav {
  background-color: #0C325A;
  line-height: 70px;
  font-size: 10px;
}

header nav::after {
  content: "";
  display: table;
  clear: both;
}

header nav ul {
  list-style: none;
}

header nav li {
  display: inline-block;
  padding: 0 10px;
}

header nav .list-left a,
header nav .list-right a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}

header nav .list-left {
  float: left;
  width: 39%;
}

header nav .logo {
  float: left;
  width: 15%;
  position: relative;
  text-align: center;
  margin: 0 2%
}

header nav .logo a {
  position: relative;
  top: 10px;
}

header nav .list-right {
  float: right;
  width: 40%;
  height: 100%;
}

header button {
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: inherit;
  border: none;
}

header button[name="login"] {
  padding: 10px 30px;
  background-color: rgba(0,0,0,0);
  border: 2px solid white;
}

nav button[name="piano"] {
  padding: 10px;
  background-color: #7CBB02;
}
/* fine barra di navigazione */

/* banner */
header .banner {
  height: 400px;
  position: relative;
  background-color: #0C325A;
  background-image: url(../img/background-header.png);
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-position: bottom right;
}

header .banner .titolo {
  width: 35%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

header .banner .titolo h1 {
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
}

header .banner button {
  background-color: #7CBB02;
  padding: 20px 15px;
}
/* fine banner */
/* fine testata */

/* contenuto principale */
/* sottotitolo grigio */
section.grey-subtitle {
  background-color: #D3D3D3;
  text-align: center;
  padding: 40px 0;
}

.grey-subtitle h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.grey-subtitle h5 {
  font-size: 18px;
  color: #878787;
  font-weight: 400;
}
/* fine sottotitolo grigio */

/* sezione offerta formativa con 3 img */
  section.offerta-formativa {
    text-align: center;
  }

  .contenitore-formazioni {
    display: inline-block;
    width: 80%;
    margin: auto;
  }

  .contenitore-formazioni::after {
    content: "";
    display: table;
    clear: both;
  }

  .formazione {
    width: calc(100% / 3);
    padding: 30px;
    float: left;
  }

  .formazione:first-child img {
    width: 100px;
    margin-bottom: 20px;
  }

  .formazione:nth-child(2) img {
    width: 160px;
    margin-bottom: 30px;
  }

  .formazione:nth-child(3) img {
    width: 130px;
    margin-bottom: 10px;
  }

  .formazione h3 {
    font-size: 20px;
    color: #7CBB02;
  }

  .formazione hr {
    width: 20%;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
  }

  .formazione p,
  .blocco-testo p {
    font-size: 13px;
    font-weight: bold;
    color: #878787;
  }
/* fine sezione offerta formativa con 3 img */

/* main > hr {
  width: 90%;
  margin: auto;
  display: inline-block;
} */

/* sezione montagna-livello */
section.montagna-livello .montagna-contenitore {
  width: 99%;
  border-top: 1px solid #d9d9d9;
  margin: auto;
  padding: 0 150px;
}

.montagna-livello .montagna-contenitore::after {
  content: "";
  display: table;
  clear: both;
}

.montagna-livello img {
  width: 40%;
  margin: 40px;
  float: left;
}

.montagna-livello .blocco-testo {
  float: left;
  margin: 30px 50px;
  width: 30%;
}

.blocco-testo h2 {
  margin-bottom: 10px;
}

.blocco-testo a  {
  display: inline-block;
  font-size: 12px;
  margin-top: 15px;
}
/* fine sezione montagna-livello */

/* fine contenuto principale */
